body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #c58ef9, #a4c8ff);
  font-family: Arial, sans-serif;
}
.main-wrapper {
  display: flex;
  align-items: flex-start;
}
.side-blocks {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.side-block {
  width: 150px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.container {
  width: 800px;
  height: 1000px;
  padding: 40px;
  padding-left: 100px;
  padding-right: 100px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  color: white;
}

/* время */
.side-block {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ввод */
.side-block input[type="time"] {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  outline: none;
  appearance: none;
}

.side-block input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

h2 {
  color: white;
  margin-bottom: 20px;
}
hr {
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  margin: 20px 0;
}
.task {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.task:hover {
  background: rgba(255, 255, 255, 0.4);
}

.delete-btn {
  background: transparent; /* Убираем заливку */
  border: none; /* Убираем границу */
  cursor: pointer; /* Указатель курсора при наведении */
  padding: 8px; /* Немного отступов, если нужно */
  transition: transform 0.3s ease; /* Плавные переходы при наведении */
}

.delete-btn i {
  color: rgba(255, 0, 0, 0.2); /* Цвет иконки */
  font-size: 18px; /* Размер иконки */
  transition: color 0.3s ease;
}

.delete-btn i:hover {
  color: rgba(255, 0, 0, 1); /* Цвет иконки */
  font-size: 18px; /* Размер иконки */
}

/* чекбокс кастом */
.task input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid white; /* Цвет рамки */
  border-radius: 5px; /* Закругление */
  background: transparent;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

/* наводка */
.task input[type="checkbox"]:hover {
  border-color: #f1f1f1;
}

.task input[type="checkbox"]::after {
  content: "✔";
  font-size: 14px;
  color: rgb(98, 98, 98); /* Цвет галочки */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
}

/* добавление галочки если да */
.task input[type="checkbox"]:checked::after { 
  transform: translate(-50%, -50%) scale(1);
}

.task input[type="checkbox"]:checked {
  background: white;
  border-color: white;
}

.task input[type="text"] {
  background: transparent;
  appearance: none;
  border: none;
  color: white;
  flex-grow: 1;
  font-size: 16px;
  outline: none;
}

.task-list {
  flex-grow: 1; /* Заполняет свободное пространство */
  display: flex;
  flex-direction: column;
  max-height: 800px; /* Ограничиваем высоту списка */
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
  align-items: stretch;
  margin-bottom: 26px;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  scrollbar-shadow-color: black;
}

.task input {
  margin-right: 10px;
}

.task.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.task.animate-complete {
    animation: completeTaskAnimation 0.5s ease-out forwards;
}

.add-task {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.7;
  color: #9d9d9d;
  box-shadow: 1px 3px 0.6px rgba(0, 0, 0, 0.2);
  margin-top: auto;
}
.add-task:hover {
  opacity: 1;
  transition: transform 3s ease;
}

.add-task input[type="text"] {
  background: transparent;
  border: none;
  color: rgb(181, 181, 181);
  flex-grow: 1;
  font-size: 16px;
  outline: none;
}

@media (max-width: 1920px) {
  .container {
    width: 600px;
    height: 800px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
  }

  .side-blocks {
      justify-content: space-between;
  }

  .side-block {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-list {
    overflow-x: hidden;
  }
}

@media (max-width: 1600px) {
  .container {
    width: 500px;
    height: 800px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
  }

  .side-blocks {
      justify-content: space-between;
  }

  .side-block {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-list {
    overflow-x: hidden;
  }
}

@media (max-width: 1405px) {
  .container {
    height: 800px;
    padding: 40px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: width 0.3s ease, padding 0.3s ease;

  }

  .main-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .side-blocks {
      justify-content: space-between;
  }

  .side-block {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.7);
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .task-list {
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  .container {
    height: 666px;
    width: 360px;
    padding: 20px;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  .main-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .side-blocks {
      flex-direction: column;
      align-items: center;
  }

  .container {
      padding: 10px;
  }

}

@media (max-width: 375px) {
  .container {
    height: 495px;
    width: 100%;
    padding: 20px;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  .main-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .side-blocks {
      flex-direction: column;
      align-items: center;
  }

  .container {
      padding: 10px;
  }
}